* {
    font-family:Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size:14px;
  }
  
  html, body {
    background-color: #fff;
  }
  
  main {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  main > h1 {
    text-align: center;
    font-size: 3.5em;
  }